.u-section-1 .u-sheet-1 {
  min-height: 463px;
}

.u-section-1 .u-form-1 {
  height: 403px;
  margin: 0 -13px 0 0;
}

.u-section-1 .u-social-icons-1 {
  height: 37px;
  min-height: 16px;
  width: 131px;
  min-width: 68px;
  margin: 6px 0 17px auto;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 0;
  }
}